:root {
  --color-primary: #f8f4f0;
  --color-secondary: #2544ff;
  --color-accent: #fc034e;
  --color-headings: #1b0760;
  --color-body: #39795d;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, "Helvetica", sans-serif;
  line-height: 1.5;
  font-size: 2.4rem;
  background: rgb(147, 141, 141);
  background: -moz-radial-gradient(
    circle,
    rgba(147, 141, 141, 1) 0%,
    rgba(57, 121, 93, 1) 50%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(147, 141, 141, 1) 0%,
    rgba(57, 121, 93, 1) 50%
  );
  background: radial-gradient(
    circle,
    rgba(147, 141, 141, 1) 0%,
    rgba(57, 121, 93, 1) 50%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#938d8d",endColorstr="#39795d",GradientType=1);
}
/*Headings and Typography*/
h1,
h2,
h3 {
  margin: 0.5rem;
}

h1 {
  font-size: 6rem;
  margin: 0.5rem;
}
h2 {
  font-size: 4rem;
  margin: 0.5rem;
}
h3 {
  font-size: 1.7rem;
  margin: 0.5rem;
}
p {
  margin: 0.5rem;
  font-size: 2.4rem;
}

/*Screens larger than 1020 PX*/

@media screen and (min-width: 1024px) {
  body {
    font-size: 2.4rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
/*Navigations*/

.nav {
  background: var(--color-body);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item > a {
  color: var(--color-headings);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--color-accent);
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav__brand {
  transform: translateY(5px);
  width: 50px;
}

/* Collapsibles For Navigation*/

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

/*Media Queries for the Navigation so that it is hidden and it stretches*/
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    width: auto;
    font-size: 1.6rem;
  }

  .nav__item {
    border: 0;
  }
}

/*Links*/

a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

/*icons*/
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: white;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.empire_txt {
  color: #fff;
}
.empire_txt2 {
  color: var(--color-headings);
}
/*Lists*/
.list {
  list-style: none;
  padding-left: 0;
  color: var(--color--headings);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.btn {
  background: var(--color-primary);
  border-radius: var(--border-radius);
  border: 0;
  margin: 1rem 0;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  padding: 2rem 3rem;
  text-transform: uppercase;
}

.btn--empire {
  background: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 30%;
  margin-right: 1rem;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  color: black;
  padding: 0.5rem;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
  color: #fff;
}

.btn--secondary:hover {
  background: #00c8eb;
  color: #fff;
}
.btn--primary:hover {
  background: #3a8ffd;
  color: #fff;
}

.btn--outline {
  background: #fff;
  color: var(--color--headings);
  border: 2px solid var(--color--headings);
}

.btn--outline:hover {
  background: var(--color--headings);
  color: antiquewhite;
}
.btn--block {
  display: inline-block;
  font-size: 1rem;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn__group {
  display: inline-block;
  justify-self: center;
  justify-content: space-between;
}
.btn .btn__group {
  margin: 2rem;
}

/*My Grids*/

.grid {
  column-gap: 1rem;
  row-gap: 1rem;
  column-gap: 1rem;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*For the media below is for tablets*/
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/*For the media query below is for laptops*/
@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/* .container {
  max-width: 1140px;
  margin: 0 auto;
} */

/*Blocks*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.images {
  padding: 1rem;
}
.images > img {
  display: inline;
  border: solid 3px #fff;
  float: left;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}
.stacked {
  position: relative;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: -10px;
  left: 10;
}
.image2 {
  position: absolute;
  top: 0px;
  left: 40px;
}
.image3 {
  position: absolute;
  top: 0px;
  left: 70px;
}
.block {
  padding: 0;
}
.block__heading {
  line-height: 1;
  text-align: left;
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 4rem;
  margin: 0;
}
.block__body {
  text-align: left;
  color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  margin: 0;
}

.connect {
  display: inline;
  line-height: 1rem;
  font-size: 2rem;
  padding-left: 1rem;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* FOR BIG SCREENS */
@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .block__heading {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 7rem;
  }
  .block__body {
    font-size: 3rem;
    margin-left: 1rem;
  }
}
/* section three */
.section_one {
  position: relative;
  padding: 2rem;
}
.section_three {
  position: relative;
  padding: 2rem;
}
.section_two {
  position: relative;
  padding: 2rem;
}
.section_heading {
  font-weight: 600;
  padding-top: 2rem;
  font-size: 3.5rem;
  color: #fff;
}

.section_body {
  border-bottom: 2rem;
  font-size: 2.5rem;
  color: #fff;
  border-bottom: solid 1px #fff;
}
/* @media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .section_one,
  .section_two,
  .section_three {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 780px;
    left: 296px;
    background-color: yellow;
  }
  .middle_image {
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 180px;
    border: 30px solid black;
  }
} */
/*Wrappers*/
.middle_image {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 500px;
  border-radius: 180px;
  border: 40px solid black;
}
.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 183px;
  left: 334px;
  background-color: yellow;
}
.curved-text {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  font-size: 3rem;
}
.curved-text span {
  min-width: 0.5em;
  text-align: center;
  padding: 0;
  margin: 0;
}

::placeholder {
  font-size: 2rem;
  color: #cdcbd7;
}
.footer--black {
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 70px;
  background: black;
  color: #fff;
  padding: 1rem;
}

.footer--black--square {
  padding: 1rem;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background: black;
  color: #fff;

  margin-left: 1rem;
}
.square-borderz {
  justify-content: center;
  border-radius: 10px;
  width: 17rem;
  height: 25rem;
  border: 1px solid #fff;
}
.round-borderz {
  justify-content: center;
  border-radius: 70px;
  width: 17rem;
  height: 25rem;
  border: 1px solid #fff;
}
.know--more {
  padding: 0;
  margin: 0;
  color: #ffc44f;
  font-size: 1.5rem;
}
.last {
  width: 500px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
  flex-direction: column;
}
.footer_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.footer-section-one,
.footer-section-two,
.footer-section-three {
  display: flex;
  flex-direction: column;
  position: relative;

  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .footer_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .footer-section-one,
  .footer-section-two,
  .footer-section-three {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  .last {
    flex-direction: row;
  }
}
