/*First Block*/
<section class="section_one">
  <section class="block">
    <h2 class="block__heading">The future of strategic finance.</h2>
    <p class="block__body">
      Concreted clothing company is a team of surfers and riders who all have
      one goal in mind.
    </p>
  </section>
  <section class="images stacked">
    <img class="image1" src="./images/smile1.jpg" alt="manager 1" />
    <img class="image2" src="./images/smile2.jpg" alt="manager 3" />
    <img class="image3" src="./images/smile3.jpg" alt="manager 2" />
  </section>
  <section></section>
  <span class="connect">connect more people -------</span>
</section>

/*Middle Block*/

<section class="section_two">
  <img class="middle_image" src="./images/smile1.jpg" alt="" />
  <div class="circle">
    <div class="curved-text">Best financial expert</div>
  </div>
</section>

/*Last Block*/
