<nav class="nav collapsible collapsible--expanded">
  <a href="/"><img class="nav__brand" src="images/logo.png" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>

  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Destinations</a></li>
    <li class="nav__item"><a href="#">Review</a></li>
    <li class="nav__item"><a href="#">Pricing</a></li>
    <li class="nav__item"><a href="#">Booking</a></li>
  </ul>
</nav>

<nav class="nav collapsible collapsible--expanded">
  <!-- <a href="/"><img class="nav__brand" src="images/logo.png" alt="" /></a> -->
  <a class="btn btn--block" href="#">Empire</a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>

  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Platform</a></li>
    <li class="nav__item"><a href="#">Solutions</a></li>
    <li class="nav__item"><a href="#">Integration</a></li>
    <li class="nav__item"><a href="#">Plan</a></li>
    <li class="nav__item"><a href="#">Resources</a></li>
  </ul>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Login</a></li>
    <li class="nav__item btn"><a href="#">Sign Up</a></li>
  </ul>
</nav>
